name: Build Android APK and Release

on:
  push:
    tags:
      - "v*"

jobs:
  build_and_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      # The flake provides python with flet, but make build-apk installs more deps via pip into __pypackages__
      # We just run the make command inside the nix develop environment
      - name: Build APK
        env:
          CI: true
        run: nix develop --command make apk

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/apk/*.apk
          generate_release_notes: true
